In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pl

In [6]:
data = pd.read_csv("Dataset Kedua/Dataset Kedua.csv", encoding='latin-1')

In [7]:
data.head()

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2/3/2018 22:56,Standard Class
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/18/2018 12:27,Standard Class
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/17/2018 12:06,Standard Class
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/16/2018 11:45,Standard Class
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/15/2018 11:24,Standard Class

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 53 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Type                           180519 non-null  object
 1   Days for shipping (real)       180519 non-null  int64
 2   Days for shipment (scheduled)  180519 non-null  int64
 3   Benefit per order              180519 non-null  float64
 4   Sales per customer             180519 non-null  float64
 5   Delivery Status                180519 non-null  object
 6   Late_delivery_risk             180519 non-null  int64
 7   Category Id                    180519 non-null  int64
 8   Category Name                  180519 non-null  object
 9   Customer City                  180519 non-null  object
 10  Customer Country               180519 non-null  object
 11  Customer Email                 180519 non-null  object
 12  Customer Fname                 180519 non-null  object
 13  Customer Id                    180519 non-null  int64
 14  Customer Lname                 180511 non-null  object
 15  Customer Password              180519 non-null  object
 16  Customer Segment               180519 non-null  object
 17  Customer State                 180519 non-null  object
 18  Customer Street                180519 non-null  object
 19  Customer Zipcode               180516 non-null  float64
 20  Department Id                  180519 non-null  int64
 21  Department Name                180519 non-null  object
 22  Latitude                       180519 non-null  float64
 23  Longitude                      180519 non-null  float64
 24  Market                         180519 non-null  object
 25  Order City                     180519 non-null  object
 26  Order Country                  180519 non-null  object
 27  Order Customer Id              180519 non-null  int64
 28  order date (DateOrders)        180519 non-null  object
 29  Order Id                       180519 non-null  int64
 30  Order Item Cardprod Id         180519 non-null  int64
 31  Order Item Discount            180519 non-null  float64
 32  Order Item Discount Rate       180519 non-null  float64
 33  Order Item Id                  180519 non-null  int64
 34  Order Item Product Price       180519 non-null  float64
 35  Order Item Profit Ratio        180519 non-null  float64
 36  Order Item Quantity            180519 non-null  int64
 37  Sales                          180519 non-null  float64
 38  Order Item Total               180519 non-null  float64
 39  Order Profit Per Order         180519 non-null  float64
 40  Order Region                   180519 non-null  object
 41  Order State                    180519 non-null  object
 42  Order Status                   180519 non-null  object
 43  Order Zipcode                  24840 non-null   float64
 44  Product Card Id                180519 non-null  int64
 45  Product Category Id            180519 non-null  int64
 46  Product Description            0 non-null       float64
 47  Product Image                  180519 non-null  object
 48  Product Name                   180519 non-null  object
 49  Product Price                  180519 non-null  float64
 50  Product Status                 180519 non-null  int64
 51  shipping date (DateOrders)     180519 non-null  object
 52  Shipping Mode                  180519 non-null  object
dtypes: float64(15), int64(14), object(24)
memory usage: 73.0+ MB

In [16]:
for column in data.columns:
    print(data[column].value_counts())

Type
DEBIT       69295
TRANSFER    49883
PAYMENT     41725
CASH        19616
Name: count, dtype: int64
Days for shipping (real)
2    56618
3    28765
6    28723
4    28513
5    28163
0     5080
1     4657
Name: count, dtype: int64
Days for shipment (scheduled)
4    107752
2     35216
1     27814
0      9737
Name: count, dtype: int64
Benefit per order
0.000000      1177
143.990005     199
72.000000      194
46.799999      188
24.000000      181
              ...
23.840000        1
90.279999        1
131.169998       1
82.589996        1
61.450001        1
Name: count, Length: 21998, dtype: int64
Sales per customer
122.839996     1264
109.190002     1247
116.989998     1243
118.290001     1243
127.389999     1243
               ...
248.880005        1
322.970001        1
435.600006        1
356.209992        1
1659.989990       1
Name: count, Length: 2927, dtype: int64
Delivery Status
Late delivery        98977
Advance shipping     41592
Shipping on time     32196
Shipping canceled     7754
Name: count, dtype: int64
Late_delivery_risk
1    98977
0    81542
Name: count, dtype: int64
Category Id
17    24551
18    22246
24    21035
46    19298
45    17325
48    15540
43    13729
9     12487
29    10984
37     2029
40     1780
36     1475
26     1201
13     1127
35     1070
41      974
75      838
63      652
76      650
3       632
7       614
62      592
74      529
33      524
72      492
66      484
68      484
67      483
64      442
32      441
44      440
71      434
65      431
12      423
59      405
38      384
69      362
73      357
5       343
6       328
11      309
30      283
61      271
70      208
60      207
31      181
2       138
10      111
16       68
4        67
34       61
Name: count, dtype: int64
Category Name
Cleats                  24551
Men's Footwear          22246
Women's Apparel         21035
Indoor/Outdoor Games    19298
Fishing                 17325
Water Sports            15540
Camping & Hiking        13729
Cardio Equipment        12487
Shop By Sport           10984
Electronics              3156
Accessories              1780
Golf Balls               1475
Girls' Apparel           1201
Golf Gloves              1070
Trade-In                  974
Video Games               838
Children's Clothing       652
Women's Clothing          650
Baseball & Softball       632
Hockey                    614
Cameras                   592
Toys                      529
Golf Shoes                524
Pet Supplies              492
Crafts                    484
Garden                    484
DVDs                      483
Computers                 442
Golf Apparel              441
Hunting & Shooting        440
Music                     434
Consumer Electronics      431
Boxing & MMA              423
Books                     405
Kids' Golf Clubs          384
Health and Beauty         362
Sporting Goods            357
Lacrosse                  343
Tennis & Racquet          328
Fitness Accessories       309
Men's Golf Clubs          283
CDs                       271
Men's Clothing            208
Baby                      207
Women's Golf Clubs        181
Soccer                    138
Strength Training         111
As Seen on  TV!            68
Basketball                 67
Golf Bags & Carts          61
Name: count, dtype: int64
Customer City
Caguas         66770
Chicago         3885
Los Angeles     3417
Brooklyn        3412
New York        1816
               ...
Bartlett          25
Ponce             22
Malden            22
Freehold          13
CA                 3
Name: count, Length: 563, dtype: int64
Customer Country
EE. UU.        111146
Puerto Rico     69373
Name: count, dtype: int64
Customer Email
XXXXXXXXX    180519
Name: count, dtype: int64
Customer Fname
Mary       65150
James       1835
Robert      1759
Michael     1680
David       1625
           ...
Le             1
Huff           1
Beatty         1
Paola          1
Brees          1
Name: count, Length: 782, dtype: int64
Customer Id
5654     47
10591    45
5004     45
3708     44
5715     44
         ..
18808     1
20684     1
17982     1
15352     1
19492     1
Name: count, Length: 20652, dtype: int64
Customer Lname
Smith       64104
Johnson       989
Brown         909
Williams      869
Jones         859
            ...
Guevara         1
Alexan          1
Kiney           1
Delan           1
Harri           1
Name: count, Length: 1109, dtype: int64
Customer Password
XXXXXXXXX    180519
Name: count, dtype: int64
Customer Segment
Consumer       93504
Corporate      54789
Home Office    32226
Name: count, dtype: int64
Customer State
PR       69373
CA       29223
NY       11327
TX        9103
IL        7631
FL        5456
OH        4095
PA        3824
MI        3804
NJ        3191
AZ        3026
GA        2503
MD        2415
NC        1992
CO        1914
VA        1849
OR        1668
MA        1607
TN        1582
NV        1440
MO        1354
HI        1248
CT        1094
UT         968
NM         949
LA         948
WA         920
WI         850
MN         672
SC         665
IN         581
DC         579
KY         487
KS         458
DE         269
RI         243
WV         241
OK         232
ND         215
ID         167
AR         164
MT          87
IA          67
AL          35
95758        2
91732        1
Name: count, dtype: int64
Customer Street
9126 Wishing Expressway     122
4388 Burning Goose Ridge    117
4720 Noble Hills Wynd       116
2878 Hazy Wagon  Thicket    113
398 Emerald Grove           109
                           ...
3892 Harvest Avenue           1
3820 Iron Inlet               1
8311 Round Lookout            1
599 Stony Pike                1
7129 Fallen Trace             1
Name: count, Length: 7458, dtype: int64
Customer Zipcode
725.0      66770
921.0        337
23455.0      334
957.0        297
79109.0      292
           ...
60636.0       18
89015.0       16
32210.0       15
7728.0        13
11225.0        9
Name: count, Length: 995, dtype: int64
Department Id
7     66861
4     48998
5     33220
3     14525
6      9686
2      2479
9      2026
10     1465
11      492
8       405
12      362
Name: count, dtype: int64
Department Name
Fan Shop              66861
Apparel               48998
Golf                  33220
Footwear              14525
Outdoors               9686
Fitness                2479
Discs Shop             2026
Technology             1465
Pet Shop                492
Book Shop               405
Health and Beauty       362
Name: count, dtype: int64
Latitude
18.227573    417
39.495914    370
18.227577    300
36.910831    280
26.098499    270
            ...
18.286121      1
18.274828      1
18.250309      1
18.226124      1
18.237297      1
Name: count, Length: 11250, dtype: int64
Longitude
-66.370613     3821
-66.370575     3523
-66.370590     3522
-66.370506     3465
-66.370552     3417
               ...
-73.096611        1
-81.288292        1
-121.501121       1
-112.003113       1
-76.878052        1
Name: count, Length: 4487, dtype: int64
Market
LATAM           51594
Europe          50252
Pacific Asia    41260
USCA            25799
Africa          11614
Name: count, dtype: int64
Order City
Santo Domingo    2211
New York City    2202
Los Angeles      1845
Tegucigalpa      1783
Managua          1682
                 ...
New Delhi           1
Wendeng             1
Belgrade            1
Cercola             1
Damanhur            1
Name: count, Length: 3597, dtype: int64
Order Country
Estados Unidos       24840
Francia              13222
MÃ©xico               13172
Alemania              9564
Australia             8497
                     ...
Kuwait                   2
SÃ¡hara Occidental        2
Guinea Ecuatorial        2
Burundi                  1
Serbia                   1
Name: count, Length: 164, dtype: int64
Order Customer Id
5654     47
10591    45
5004     45
3708     44
5715     44
         ..
18808     1
20684     1
17982     1
15352     1
19492     1
Name: count, Length: 20652, dtype: int64
order date (DateOrders)
8/4/2017 2:31      5
9/8/2015 12:15     5
4/11/2017 15:49    5
2/22/2016 2:23     5
10/27/2016 4:08    5
                  ..
1/13/2018 6:51     1
1/13/2018 6:30     1
1/13/2018 6:09     1
1/13/2018 5:48     1
1/13/2018 5:27     1
Name: count, Length: 65752, dtype: int64
Order Id
64813    5
17162    5
56973    5
28574    5
45568    5
        ..
75923    1
75922    1
75921    1
75920    1
75919    1
Name: count, Length: 65752, dtype: int64
Order Item Cardprod Id
365     24515
403     22246
502     21035
1014    19298
1004    17325
        ...
127        27
208        15
860        11
60         10
226        10
Name: count, Length: 118, dtype: int64
Order Item Discount
0.000000      10028
6.000000       4589
12.000000      4067
4.000000       3647
8.000000       3626
              ...
50.490002         1
85.489998         1
140.000000        1
33.660000         1
61.189999         1
Name: count, Length: 1017, dtype: int64
Order Item Discount Rate
0.04    10029
0.05    10029
0.06    10029
0.07    10029
0.09    10029
0.10    10029
0.12    10029
0.13    10029
0.15    10029
0.16    10029
0.17    10029
0.18    10029
0.20    10029
0.25    10029
0.03    10029
0.00    10028
0.01    10028
0.02    10028
Name: count, dtype: int64
Order Item Id
65113     1
180517    1
179254    1
179253    1
179252    1
         ..
179245    1
179244    1
179243    1
179242    1
179241    1
Name: count, Length: 180519, dtype: int64
Order Item Product Price
59.990002      24820
129.990005     22372
50.000000      21035
49.980000      19298
399.980011     17325
               ...
349.989990        40
329.989990        27
599.989990        21
1999.989990       15
999.989990        10
Name: count, Length: 75, dtype: int64
Order Item Profit Ratio
 0.48    9197
 0.35    7997
 0.26    6577
 0.34    6507
 0.47    6378
         ...
-1.37      18
-0.93      18
-0.90      18
-2.30      18
-2.10      18
Name: count, Length: 162, dtype: int64
Order Item Quantity
1    99134
5    20385
3    20350
4    20335
2    20315
Name: count, dtype: int64
Sales
129.990005    22372
399.980011    17325
199.990005    15622
299.980011    13729
179.970001     5016
              ...
999.989990       10
379.959992       10
99.000000         9
198.000000        9
396.000000        9
Name: count, Length: 193, dtype: int64
Order Item Total
122.839996     1264
109.190002     1247
116.989998     1243
118.290001     1243
127.389999     1243
               ...
248.880005        1
322.970001        1
435.600006        1
356.209992        1
1659.989990       1
Name: count, Length: 2927, dtype: int64
Order Profit Per Order
0.000000      1177
143.990005     199
72.000000      194
46.799999      188
24.000000      181
              ...
23.840000        1
90.279999        1
131.169998       1
82.589996        1
61.450001        1
Name: count, Length: 21998, dtype: int64
Order Region
Central America    28341
Western Europe     27109
South America      14935
Oceania            10148
Northern Europe     9792
Southeast Asia      9539
Southern Europe     9431
Caribbean           8318
West of USA         7993
South Asia          7731
Eastern Asia        7280
East of USA         6915
West Asia           6009
US Center           5887
South of  USA       4045
Eastern Europe      3920
West Africa         3696
North Africa        3232
East Africa         1852
Central Africa      1677
Southern Africa     1157
Canada               959
Central Asia         553
Name: count, dtype: int64
Order State
Inglaterra                     6722
California                     4966
Isla de Francia                4580
Renania del Norte-Westfalia    3303
San Salvador                   3055
                               ...
Iringa                            1
Savanes                           1
Mie                               1
Bistrita-Nasaud                   1
Tottori                           1
Name: count, Length: 1089, dtype: int64
Order Status
COMPLETE           59491
PENDING_PAYMENT    39832
PROCESSING         21902
PENDING            20227
CLOSED             19616
ON_HOLD             9804
SUSPECTED_FRAUD     4062
CANCELED            3692
PAYMENT_REVIEW      1893
Name: count, dtype: int64
Order Zipcode
10035.0    648
10009.0    550
10024.0    541
94122.0    526
10011.0    463
          ...
61832.0      1
92236.0      1
42071.0      1
60477.0      1
98002.0      1
Name: count, Length: 609, dtype: int64
Product Card Id
365     24515
403     22246
502     21035
1014    19298
1004    17325
        ...
127        27
208        15
860        11
60         10
226        10
Name: count, Length: 118, dtype: int64
Product Category Id
17    24551
18    22246
24    21035
46    19298
45    17325
48    15540
43    13729
9     12487
29    10984
37     2029
40     1780
36     1475
26     1201
13     1127
35     1070
41      974
75      838
63      652
76      650
3       632
7       614
62      592
74      529
33      524
72      492
66      484
68      484
67      483
64      442
32      441
44      440
71      434
65      431
12      423
59      405
38      384
69      362
73      357
5       343
6       328
11      309
30      283
61      271
70      208
60      207
31      181
2       138
10      111
16       68
4        67
34       61
Name: count, dtype: int64
Series([], Name: count, dtype: int64)
Product Image
http://images.acmesports.sports/Perfect+Fitness+Perfect+Rip+Deck                                 24515
http://images.acmesports.sports/Nike+Men%27s+CJ+Elite+2+TD+Football+Cleat                        22246
http://images.acmesports.sports/Nike+Men%27s+Dri-FIT+Victory+Golf+Polo                           21035
http://images.acmesports.sports/O%27Brien+Men%27s+Neoprene+Life+Vest                             19298
http://images.acmesports.sports/Field+%26+Stream+Sportsman+16+Gun+Fire+Safe                      17325
                                                                                                 ...
http://images.acmesports.sports/Stiga+Master+Series+ST3100+Competition+Indoor+Table+Tennis...       27
http://images.acmesports.sports/SOLE+E35+Elliptical                                                 15
http://images.acmesports.sports/Bushnell+Pro+X7+Jolt+Slope+Rangefinder                              11
http://images.acmesports.sports/SOLE+E25+Elliptical                                                 10
http://images.acmesports.sports/Bowflex+SelectTech+1090+Dumbbells                                   10
Name: count, Length: 118, dtype: int64
Product Name
Perfect Fitness Perfect Rip Deck                 24515
Nike Men's CJ Elite 2 TD Football Cleat          22246
Nike Men's Dri-FIT Victory Golf Polo             21035
O'Brien Men's Neoprene Life Vest                 19298
Field & Stream Sportsman 16 Gun Fire Safe        17325
                                                 ...
Stiga Master Series ST3100 Competition Indoor       27
SOLE E35 Elliptical                                 15
Bushnell Pro X7 Jolt Slope Rangefinder              11
SOLE E25 Elliptical                                 10
Bowflex SelectTech 1090 Dumbbells                   10
Name: count, Length: 118, dtype: int64
Product Price
59.990002      24820
129.990005     22372
50.000000      21035
49.980000      19298
399.980011     17325
               ...
349.989990        40
329.989990        27
599.989990        21
1999.989990       15
999.989990        10
Name: count, Length: 75, dtype: int64
Product Status
0    180519
Name: count, dtype: int64
shipping date (DateOrders)
1/4/2017 17:11     10
9/10/2015 19:58    10
2/11/2017 3:28     10
2/1/2015 2:35      10
8/25/2015 13:41    10
                   ..
2/23/2016 4:19      1
2/22/2016 18:09     1
2/23/2016 11:09     1
2/26/2016 8:42      1
2/23/2016 5:43      1
Name: count, Length: 63701, dtype: int64
Shipping Mode
Standard Class    107752
Second Class       35216
First Class        27814
Same Day            9737
Name: count, dtype: int64

In [12]:
data.columns

Index(['Type', 'Days for shipping (real)', 'Days for shipment (scheduled)',
       'Benefit per order', 'Sales per customer', 'Delivery Status',
       'Late_delivery_risk', 'Category Id', 'Category Name', 'Customer City',
       'Customer Country', 'Customer Email', 'Customer Fname', 'Customer Id',
       'Customer Lname', 'Customer Password', 'Customer Segment',
       'Customer State', 'Customer Street', 'Customer Zipcode',
       'Department Id', 'Department Name', 'Latitude', 'Longitude', 'Market',
       'Order City', 'Order Country', 'Order Customer Id',
       'order date (DateOrders)', 'Order Id', 'Order Item Cardprod Id',
       'Order Item Discount', 'Order Item Discount Rate', 'Order Item Id',
       'Order Item Product Price', 'Order Item Profit Ratio',
       'Order Item Quantity', 'Sales', 'Order Item Total',
       'Order Profit Per Order', 'Order Region', 'Order State', 'Order Status',
       'Order Zipcode', 'Product Card Id', 'Product Category Id',
       'Product Description', 'Product Image', 'Product Name', 'Product Price',
       'Product Status', 'shipping date (DateOrders)', 'Shipping Mode'],
      dtype='object')